#content-container {
    position: absolute;
}

.candle {
    background-color: #FFFFFF;
}

.stock-detali-content-1 {
    position: relative;
    left: 30px;
    top: 30px;
    border: 1px solid #E6E9ED;
    border-radius: 25px;
    background: #FFFFFF;
    width: 1480px;
    height: 760px;
}