.first-td {
  width: 350px;
}

.second-td {
  width: 350px;
}

.third-td {
  width: 350px;
  /*top: 20px;*/
  padding-top: 20px;
}

.fourth-td {
  width: 350px;
}

.stock_detail_gap {
  padding-bottom: 35px;
}
.stock_table {
  table-layout: fixed;
  word-wrap: break-word;
  /*width: 1200px;*/
  margin: 0px 0px 0px 50px;
  /*width: 60%;*/
  /*border-bottom: 1px solid var(--pinkish-grey);*/
  /*border: 1px solid black;*/
  color: #73869C;
  /*position: relative;*/
  /*width: 500px;*/
}
.stock_detail_td_gap1 {
  /*padding-left: 150px;*/
  width: 150px;
  /*border: 1px solid black;*/
}
.stock_detail_td_gap2 {
  width: 190px;
  /*padding-left: 280px;*/
  /*border: 1px solid black;*/
}
.card_grid {
  width: 180px;
  padding-top: 10px;
  /*padding-right: 53px;*/
  /*border: 1px solid black;*/
}
.text-xs {
  font-size: 16px;
  position: absolute;
  color: #73869C;
  right: 50px;
  top: 155px;
}
.text_row {
  /*padding-bottom: 8px;*/
}
.text-xl {
  color: var(--pinkish-grey);
}
.card_second {
  height: 82px;
  width: 100%;
  /*padding-top: 8px;*/
  /*border: black 1px solid;*/
}
.stocks_data {
  padding-right: 20px;
  /*border: black 1px solid;*/
}

.mystock {
  float: right;
}

.font-bold {
  font-weight: bold;
}

.text-white {
  color: white;
}

.btn-blue {
  background-color: #2196f3;
}

.btn-red {
  background-color: #f44336;
}

.stock_name {
  font-size: 24px;
  font-weight: bold;
  width: 250px;
}

.stock_code {
  font-size: 15px;
}

.stock_detail_btn {
  /*padding-left: 30px;*/
  /*padding-top: 5px;*/
  /*border: 1px solid black;*/
  position: relative;
  /*top: 10px;*/
  /*bottom: 10px;*/
  top: 10px;
}

.line_setting_1 {
  table-layout: fixed;
  word-wrap: break-word;
  vertical-align: bottom;
  /*top: -30px;*/
}

.line_setting_2 {
  position: relative;
  top: 15px;
  table-layout: fixed;
  word-wrap: break-word;
}

.w-full {
  width: 100%;
}

.plus_minus_btn {
  background-color: white;
  color: #2196f3;
}

.blue {
  font-weight: bold;
  color: #2196f3;
}

.red {
  font-weight: bold;
  color: #f44336;
}

.zero {
  color: black;
}

#chart {
  position: relative;
  left: 35px;
}