@import "../../../../style.css";
.recommendation_stock_container {
  width: 200px;
  /*height: 100%;*/
}

.stock_detail_section_01 {
  margin-top: 22px;
  display: flex;
  flex-direction: row;
  /*width: 95%;*/
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

.stock_title_section {
  width: 150px;
  margin-right: 10px;
  font-size: 18px;
}

.stock_column_section {
  position: relative;
  right: 30px;
  width: 80px;
  /*left: 15px;*/
  font-size: 16px;
  text-align: right;
  /*color: #008485;*/
}
.stock_column_section11 {
  position: relative;
  right: 18px;
  width: 80px;
  font-size: 16px;
  text-align: left;
  /*color: #008485;*/
}

.up {
  display: flex;
  flex-direction: row;
  color: red;
}

.down {
  display: flex;
  flex-direction: row;
  color: blue;
}
