.btn-chart-on {
    font-family: "NotoSansKR-M", sans-serif;
    font-size: 14px;
    position: relative;
    top: -1290px;
    left: 1325px;
    /*float: right;*/
    /*right: 71px;*/
}

.btn-chart-on-stream {
    /*text-indent: -9999px;*/
    font-family: "NotoSansKR-M", sans-serif;
    font-size: 14px;
    position: relative;
    top: -1290px;
    left: 80px;
    /*float: right;*/
    /*right: 71px;*/
}

.btn-gra {
    border: none;
    padding: 2px 33px;
    border-radius: 15px;
    /*box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.15);*/
    text-decoration: none;
    transition: 0.25s;
    background: linear-gradient(
            45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000
    );
    color: white;
    background-size: 400% 400%;
    animation: gradient1 5s ease infinite;
}
@keyframes gradient1 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.btn-gra-stream {
    border: none;
    padding: 2px 656px;
    border-radius: 15px;
    /*box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.15);*/
    text-decoration: none;
    transition: 0.25s;
    background: linear-gradient(
            45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000
    );
    color:transparent;
    background-size: 400% 400%;
    animation: gradient1 5s ease infinite;
}

.btn-gra:hover {
    letter-spacing: 1px;
    transform: scale(1.01);
    cursor: pointer;
}

.btn-gra-stream:hover {
    letter-spacing: 1px;
    transform: scale(1.01);
    cursor: pointer;
}

.showTimeChart {
    display: none;
    -webkit-transition: display .5s ease;
    -moz-transition: display .5s ease;
    -o-transition: display .5s ease;
}

.show {
    transition: display .5s ease;
    -webkit-transition: display .5s ease;
    -moz-transition: display .5s ease;
    -o-transition: display .5s ease;
}