/* MARKUP: global style */
:root {
  --hana-green: #008485;
  --light-black: #222222;
  --pinkish-grey: #c0c0c0;
  --brownish-grey: #696969;
  --white-two: #d6d6d6;
  --white-three: #fafafa;
  --white-four: #f6f6f6;
  --white-five: #ececec;
  --white-six: #fefefe;
  --light-sage: #fff8f1;
  --light-sage-two: #f5e2d0;
  --dark-seafoam: #eaccae;
  --greenish-teal: #e5c09d;
}

* {
  line-height: 1.5;
  font-family: "NotoSansKR-R", sans-serif;
  /*font-size: 15px;*/
}

body {
  padding: 0px;
  margin: 0px;
}
.container {
  padding: 0px;
  margin: 0px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  height: 1390px;
  background: #F7F7F7;
}

@font-face {
  font-family: "NanumSquareB";
  src: url("./fonts/NanumSquareB.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareEB";
  src: url("./fonts/NanumSquareEB.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareL";
  src: url("./fonts/NanumSquareL.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareR";
  src: url("./fonts//NanumSquareR.ttf") format("truetype");
}

@font-face {
  font-family: "HanaB";
  src: url("./fonts/HanaB.otf") format("truetype");
}
@font-face {
  font-family: "HanaCM";
  src: url("./fonts/HanaCM.otf") format("truetype");
}
@font-face {
  font-family: "HanaM";
  src: url("./fonts/HanaM.otf") format("truetype");
}
@font-face {
  font-family: "HanaL";
  src: url("./fonts/HanaL.otf") format("truetype");
}
@font-face {
  font-family: "HanaUL";
  src: url("./fonts/HanaUL.otf") format("truetype");
}
@font-face {
  font-family: "Baloo";
  src: url("./fonts/Baloo.ttf") format("truetype");
}
@font-face {
  font-family: "NotoSansKR-BB";
  src: url("./fonts/NotoSansKR-Black.otf") format("truetype");
}
@font-face {
  font-family: "NotoSansKR-B";
  src: url("./fonts/NotoSansKR-Bold.otf") format("truetype");
}
@font-face {
  font-family: "NotoSansKR-L";
  src: url("./fonts/NotoSansKR-Light.otf") format("truetype");
}
@font-face {
  font-family: "NotoSansKR-M";
  src: url("./fonts/NotoSansKR-Medium.otf") format("truetype");
}
@font-face {
  font-family: "NotoSansKR-R";
  src: url("./fonts/NotoSansKR-Regular.otf") format("truetype");
}
@font-face {
  font-family: "NotoSansKR-T";
  src: url("./fonts/NotoSansKR-Thin.otf") format("truetype");
}

.link {
  color: black;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
