@import "../../../../style.css";

.label-div {
  display: flex;
  flex-direction: row;
}

.label {
  font-size: 20px;
  margin-left: 11px;
  margin-right: 2px;
  font-family: NotoSansKR-M, sans-serif;
  color: var(--brownish-grey);
}

.star {
  font-family: NotoSansKR-B, sans-serif;
  font-size: 20px;
  color: red;
}

.green-message {
  color: red;
  font-size: 12px;
  margin-left: 208px;
}

.login-input {
  margin-top: 9px;
  width: 413px;
  height: 49px;
  font-family: NotoSansKR-R, sans-serif;
  border-radius: 18.8px;
  border: solid 1px var(--pinkish-grey);
  padding-left: 15px;
  align-items: center;
  outline: none;
  font-size: 15px;
}

.inner-container2 {
  margin: 60px auto;
  width: 429px;
}

.header2 {
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 60px;
  font-family: NotoSansKR-M, sans-serif;
}

.input-group2 {
  margin-bottom: 25px;
}

.text_search {
  margin-top: 9px;
  height: 38px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.small-input {
  padding-left: 15px;
  width: 134px;
  height: 38px;
  background: none;
  border: none;
  font-size: 12px;
  border: solid 1px var(--pinkish-grey);
  border-radius: 18.8px;
  outline: none;
}
input[type=password]{
  font-family: "NotoSansKR-M";
}
::placeholder {
  font-family: 'NotoSansKR-L', sans-serif;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: 'NotoSansKR-L', sans-serif;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: 'NotoSansKR-L', sans-serif;
}

.join-btn {
  width: 429px;
  height: 49px;
  object-fit: contain;
  border-radius: 18.8px;
  border: 1px solid var(--hana-green);
  background-color: var(--hana-green);
  text-decoration: none;
  color: white;
  margin-top: 20px;
  font-size: 20px;
  font-family: NotoSansKR-M, sans-serif;
  outline: none;
}

.join-btn:hover {
  background-color: white;
  color: var(--hana-green);
  cursor: pointer;
}

.withdrawal-btn {
  background: var(--greenish-teal);
  width: 429px;
  height: 49px;
  object-fit: contain;
  border-radius: 18.8px;
  border: none;
  text-decoration: none;
  background-color: var(--pinkish-grey);
  color: white;
  margin-top: 20px;
  font-size: 20px;
  font-family: NotoSansKR-M, sans-serif;
  outline: none;
}

.withdrawal-btn:hover {
  background-color: var(--hana-green);
  color: white;
  cursor: pointer;
}
