@import "../../../style.css";

.authCheck_container {
  margin: 90px auto;
}

.authCheck_text {
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-family: NotoSansKR-M, sans-serif;
}

.invest_text {
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-family: NotoSansKR-M, sans-serif;
}

.invest_texts {
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-family: NotoSansKR-L, sans-serif;
}

.authCheck_texts_div {
  margin-top: 69px;
  text-align: center;
}

.authCheck_texts {
  font-size: 16px;
  color: var(--brownish-grey);
}

.authCheck_num_div {
  margin-top: 46px;
  text-align: center;
}

.authCheck_num {
  margin-left: 1px;
  padding: 2px;
  width: 60px;
  height: 76px;
  border-radius: 20px;
  border: solid 1px var(--pinkish-grey);
  text-align: center;
}

.start_cameleon {
  font-size: 20px;
  text-align: center;
  width: 313px;
  height: 51px;
  border-radius: 18.8px;
  border: solid 1px var(--hana-green);
  background-color: var(--hana-green);
  color: #ffffff;
  display: flex;
  margin: 66px auto;
  justify-content: center;
  align-items: center;
  outline: none;
  font-family: NotoSansKR-M, sans-serif;
}

.start_cameleon:hover {
  background-color: white;
  color: var(--hana-green);
  cursor: pointer;
}

.auth_span {
  margin: 2px;
}

.auth_container {
  margin: 10px;
}
