.documentroom_container {
  width: 1080px;
  height: 1000px;
  flex-direction: column;
  margin-left: 83px;
  margin-top: 42px;
}
.search-div-style {
  /*padding: 20px;*/
  position: relative;
  left: 150px;
}

.documentroom_text {
  font-size: 20px;
  font-family: NotoSansKR-M, sans-serif;
}
.stock-search-section {
  height: 100px;
}
.stock-tag-button {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  left: 322px;
  font-size: 15px;
  height: 23px;
  text-align: center;
  background-color: white;
  border: 2px solid var(--hana-green);
  border-radius: 50px;
  color: black;
  padding: 8px;
  text-decoration: none;
  float: left;
}
.stock-tag-button:hover {
   background-color: var(--hana-green);
   color: white;
  border: 2px solid var(--hana-green);
 }
