.stdocumentroom_container {
  width: 1200px;
  height: 1000px;
  flex-direction: column;
  margin-left: 155px;
  margin-top: 42px;
}

.documentroom_text_stocklist {
  font-size: 24px;
  font-family: NotoSansKR-M, sans-serif;
  padding-bottom: 10px;
  width: 100%;
  border-bottom: 2px solid var(--hana-green);
  /*border-bottom: black;*/
  /*border-bottom: 10px yellow;*/
}

.documentroom_table {
  width: 1080px;
  height: 550px;
  margin-bottom: 17px;
  margin-top: 1px;
  border: #000000;
}

.search_input {
  margin-left: 5px;
  width: 400px;
  height: 35px;
  font-size: 12px;
}

.conference_search {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 21px;
}

.search_button {
  font-family: NotoSansKR-M, sans-serif;
  margin-left: 2px;
  text-align: center;
  font-size: 13px;
  width: 50px;
  height: 23px;
  background-color: var(--hana-green);
  border: none;
  color: #ffffff;
  padding: 8px;
  text-decoration: none;
  cursor: pointer;
}
.w-full {
  width: 100%;
}

.table thead tr th {
  --border-opacity: 1;
  /*border-color: #eeeeee;*/
  border-color: var(--hana-green);
  --text-opacity: 1;
  color: #9e9e9e;
  color: rgba(158, 158, 158, var(--text-opacity));
}
.table thead tr th {
  text-align: center;
}
.table tbody tr td {
  text-align: center;
}
.table thead tr th {
  padding: 1rem 2rem;
  border-bottom-width: 1px;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  /*white-space: nowrap;*/
}
.stockname {
  font-size: 1rem;
  font-weight: bold;
  color: inherit;
}
table {
  font-size: 1.1rem;
  border-collapse: collapse;
  border-spacing: 2px;
}
th {
  border-bottom: 1px solid;
  /*border-right: 1px solid;*/
  display: table-cell;
  vertical-align: inherit;
  /*vertical-align: 30%;*/
}
.table tbody tr td {
  border-bottom: 1px solid;
  /*border-right: 1px solid;*/
  border-color: rgb(220, 220, 220);
  /*padding: 0.5rem 0.75rem;*/
  /*border-bottom-width: 1px;*/
  white-space: nowrap;
}
.text-2xl {
  font-size: 1.5rem;
  margin: 20px 460px 20px 10px;
}
.page_nation {
  margin: 16px 0px 0px 70px;
}
.form-select {
  margin-right: 16px;
}
.relative {
  max-width: 300px;
  margin: 10px 0px 0px 160px;
  bg-opacity: 1;
  background-color: #f5f5f5;
  background-color: rgba(245, 245, 245, var(--bg-opacity));
  --border-opacity: 1;
  border-color: #f5f5f5;
  border-color: rgba(245, 245, 245, var(--border-opacity));
}
.register_btn {
  float: right;
}

.btn-blue {
  background-color: #2196f3;
}

.btn-red {
  background-color: #f44336;
}

.plus_minus_btn {
  background-color: white;
  color: #2196f3;
}

.blue {
  font-weight: bold;
  color: #2196f3;
  /*animation: bear 1.5s step-end infinite;*/
}
/*@keyframes bear {*/
/*  50% {*/
/*    background-color: #c8ffff;*/
/*  }*/
/*}*/

.red {
  font-weight: bold;
  color: #f44336;
  /*animation: bull 1.5s step-end infinite;*/
}
/*@keyframes bull {*/
/*  50% {*/
/*    background-color: #ffe6eb;*/
/*  }*/
/*}*/

.zero {
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}